body{
zoom: 100%;
}

.banner-container {
    background-color: #E554731A;
    width: 1450px;
    height: 750px;
    display: flex;
}

.banner-info {
    padding: 70px;
    align-items: center;
    font-family: lato;
}

.banner-tittle {
    display: flex;
    width: 708px;
    color: #272727;
    font-size: 90px;
    font-style: normal;
    font-weight: 540;
    line-height: normal;
    justify-content: center;
}

.banner-content {
    display: flex;
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: white;
}

.image {
    width: 500px;
    height: 650px;
    padding-top: 100px;
}


.second-part {
    text-align: center;
    font-family: Lato;
}

.tittle {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.contact {
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: 30px;
    color: #27272799;
}

.all-image {
    text-decoration: underline;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    gap: 15px;
    margin-left: 150px;
    margin-right: 150px;
}

.image1 {
    background: rgba(167, 33, 98, 0.15);
    width: 190px;
    padding-left: 70px;
    padding-top: 70px;
    padding-right: 70px;
    border-radius: 220px 220px 0px 0px;

}

.image2 {
    background: rgba(5, 151, 160, 0.15);
    width: 190px;
    padding-left: 70px;
    padding-top: 140px;
    padding-right: 70px;
    border-radius: 220px 220px 0px 0px;
}

.image3 {
    background: rgba(71, 125, 17, 0.15);
    width: 190px;
    padding-left: 70px;
    padding-top: 50px;
    padding-right: 70px;
    border-radius: 220px 220px 0px 0px;
}

.third-part {
    background-color: #2727270D;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 80px;
    display: flex;
    padding: 40px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 100px;
}


.main{
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
width: 1450px;
height: 600px;
font-family: Lato;
display: block;
}
.main-tittle{
    margin: 0% auto;
    padding-top: 50px;
    color: #272727;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 200px;
    
}

.main-contant{
    color: rgba(39, 39, 39, 0.60);
    display: flex;
width: 500px;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding-left: 200px;
}

.signup{
margin-left: 22%;
justify-content: center;
align-items: center;
    padding: 20px 43px;
    gap: 100px;
    color: white;
    border-radius: 8px;
    background: #E55473;


}
.main-img{
width: 17%;
/* margin: 0% auto; */
margin: 0% auto;
padding-left: 800px;
padding-bottom: 800px;


    
}


.hot-deal{
    padding-left: 200px;
   padding-top: 80px;
   }



.instragram {
    text-align: center;
    font-family: Lato;
margin-top: 100px;}

.ig-tittle {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.ig-contant {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.ig-image {
    width: 242px;
    height: 296px;
    display: flex;
    gap: 15px;
    margin-left: 170px;
}


.footer {
    background: #111010;
    font-family: Lato;
width: 1450px;
height: 200px;
align-items: center;
justify-content: center;
text-align: center;
}

.flower-shop {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 20px;
}

.flower-shop span {
    color: white;
}

.footer-contant {
    color: #FFFFFFE5;
  
}

small {
    color: #FFFFFF66;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}



